@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-variation-settings: 'FILL' 0;
    font-weight: 400;
    src: url('/fonts/material-symbols-outlined.woff2') format('woff2');
}

.material-symbols-outlined {
    display: inline-block;
    direction: ltr;
    font-family: 'Material Symbols Outlined', sans-serif;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
}
